* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    appearance: none;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    font-weight: 500;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    background-color: white;

    &::-webkit-scrollbar {
        display: none;
    }

    &.resize-animation-stopper * {
        transition: none !important;
        animation: none !important;
    }
}

button {
    background: none;
}

img,
video {
    vertical-align: top;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
}

*::selection {
    background-color: rgba($color: black, $alpha: 0.08);
}

@import "./sections/heroText";